{% extends "header.html" %}

{% block body %}
    <body>

    <div class="container-fluid">
        <br>
        <div class="panel-heading">
            <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <br>
        <form role="form" style="max-width: 300px;">
            <div class="form-group">
                <label for="username"><span class="glyphicon glyphicon-user"></span> Username</label>
                <input type="email" class="form-control" placeholder="Enter email" name="username" value="{{ request.form.username }}">
            </div>
            <div class="form-group">
                <label for="password"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                <input type="password" class="form-control" placeholder="Enter password" name="password" value="{{ request.form.username }}">
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
        </form>
    </div>
    </body>

{% endblock %}