<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Aircraft Logs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="icon" href="{{ url_for('static', filename='airplane.ico') }}">
</head>	

<header>
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img style="max-width: 120px; margin-top: -7px;" src="{{ url_for('static', filename='images/logo.png') }}">
        </a>
    </div>
</header>



<div>Icons made by <a href="http://www.flaticon.com/authors/scott-de-jonge" title="Scott de Jonge">Scott de Jonge</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

</html>