{% extends "header.html" %}

{% block body %}
    <body>

    <div class="container-fluid">
        <div class="panel-heading">
            <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <form role="form" class="form" method="post" role="form" action="/login/">
            <div class="form-group">
                {{ login_form.username.label(class_="col-lg-6 col-md-6 col-sm-12") }}
                {{ login_form.username(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ login_form.password.label(class_="col-lg-6 col-md-6 col-sm-12") }}
                {{ login_form.password(class_="form-control") }}
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
        </form>
        <div class="panel-footer">
            <p>Not a member? <a href="/">Sign Up</a></p>
            <p>Forgot <a href="#">Password?</a></p>
        </div>
        {% if error %}
            <p class="error"><strong>Error:</strong>{{ error }}</p>
        {% endif %}
    </div>
    </body>

{% endblock %}